.root {
    -fx-focus-color: transparent;
    -fx-cursor: url('/Sakura_AltSelect.png'), auto;
}

.button {
    -fx-background-color: linear-gradient(white, lightgray);
}

.combo-box {
    -fx-background-color: linear-gradient(lightpink, lightgray);
}
.choice-box {
    -fx-background-color: linear-gradient(lightpink, lightgray);
}

#header-yaz-label {
    -fx-cursor: url('/Sakura_AltSelect.png'), auto;
    -fx-border-radius: 20px;
    -fx-border-color: linear-gradient(lightpink, lightgray);
    -fx-border-width: 5px;
}

#admin-vbox {
    -fx-background-color: linear-gradient(pink, hotpink, lightgray);
}