/*
COLORS USED:
main color: #3b3150
secondary color: #9b7fd5

*/

/* ########## GENERAL ########## */

.root {
    -fx-focus-color: transparent;
}

.button {
    -fx-background-color: linear-gradient(#ffa6f7, #ffc8fa);
}

.combo-box {
    -fx-background-color: linear-gradient(#ffa6f7, #ffc8fa);
}

.choice-box {
    -fx-background-color: linear-gradient(#ffa6f7, #ffc8fa);
}

.text-field {
    -fx-background-color: #ffc8fa;
}

/* ############################ */

/* ########## HEADER ########## */

.header-containers {
    -fx-background-color: #ffa6f7;
}

.menu {
    -fx-background-color: radial-gradient(center 50% 50%, radius 55%, #ffc8fa, #ffa6f7);
}

.menu:hover {
   -fx-background-color: radial-gradient(center 50% 50%, radius 65%, #ffc8fa, #ffa6f7);
}

.menu-item {
    -fx-background-color: #ffa6f7;
}

.menu-item:hover {
    -fx-background-color: #ffc8fa;
}

#header-border-pane {
    -fx-background-color: #ffc8fa;
}

#header-yaz-label {
    -fx-border-radius: 20px;
    -fx-border-color: #ffffff;
    -fx-border-width: 5px;
}

/* ############################ */

/* ########## ADMIN BODY ########## */

.admin-containers {
    -fx-background-color: #ffa6f7;
}

#admin-vbox {
    -fx-background-image: url("SakuraBackground.jpg");
    -fx-background-position: center center;
}

.admin-trees .tree-cell{
    -fx-background-color: #ffc8fa;
}

/* ############################ */

/* ########## CLIENT BODY ########## */

.client-containers {
    -fx-background-color: #ffa6f7;
}

.client-containers .tree-cell {
    -fx-background-color: #ffc8fa;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #ffc8fa;
}

.tab {
    -fx-background-color: linear-gradient(#ffc8fa, #ffa6f7);
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: transparent;
}
.split-pane:vertical > .split-pane-divider {
    -fx-background-color: transparent;
}

#scramble-check-list-view {
    -fx-background-color: #ffc8fa;
}

#payment-list-view {
    -fx-background-color: #ffc8fa;
}

.check-box-list-view .check-box-list-cell {
    -fx-background-color: #ffa6f7;
}
.list-view .list-cell .check-box {
    -fx-background-color: #ffa6f7;
}

/* ############################ */

.deposit-containers {
    -fx-background-color: #ffc8fa;
}